html,
body,
#root {
  height: 100%;
  background-color: #eee;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #4a90e2;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #fff;
}

.menu {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #fff;
}

.posts {
  margin: 20px 50px;
}

.post {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px;
  margin: 20px 0px;
  justify-content: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
  background-color: #fff;
}

.desc {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatar {
  min-height: 50px;
  min-width: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #eee;
}

.photo {
  height: 50px;
  width: 50px;
}

.detail {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0px 10px;
}

.date {
  font-size: 13px;
  color: #666;
}

.message {
  margin: 10px;
  font-size: 15px;
  color: #3e3e3e;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.comment {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 10px 0px;
}

.containerComment {
  padding: 10px;
  margin: 0px 5px;
  border-radius: 10px;
  background-color: #eee;
}

.nameComment {
  margin: 5px;
  font-size: 15px;
}

.textComment {
  font-size: 15px;
  color: #3e3e3e;
}
