{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá , {{ user.name }}</strong>

    {% if user.provider === true %}
    <strong>Seus agendamentos</strong>
    <p>Veja abaixo a lista de agendamentos que você tem para hoje:</p>

      <ul class="appointments">
      {% for appointment in appointments %}
        <li class="provider">
           <div>
            <img src="/files/{{ appointment.user.avatar }}" />
            <strong>{{ appointment.user.name }} <br> {{ appointment.date }}</strong>
          </div>
      {% endfor %}
    </ul>

    {% else %}
    <p>Inicie um agendamento escolhendo um profissional abaixo:</p>

    <ul class="providers">
      {% for provider in providers %}
        <li class="provider">
          <div>
          <img src="/files/{{ provider.avatar }}" />
            <strong>{{ provider.name }}</strong>
          </div>
          <a href="/app/appointments/new/{{ provider.id }}" >+</a>
      {% endfor %}
    </ul>

    {% endif %}

    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
